.post{
    .post__Wrapper{
      min-height: 100vh;
      background-color: rgb(224,224,224);
      box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 1);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      .post__logo{
        margin: 25% 0;
        font-size: 200px;
      }
    }
}