




.footer {
 
  
  
    .footer__wrapper{
     
      padding: 10px 0;
      display: flex;
      justify-content: space-around;
        .contacts{
        }
        .social{
          display: flex;
           .social_item{
            margin: 0 10px;
             
           }
        }
    }
}